<div>
  <h2>Medicines</h2>

  <form name="medForm" novalidate class="card mb-3">
    <div class="card-body">
      <h5 class="mb-3">Add Medicine</h5>

      <div class="row g-2">
        <div class="col-md-4">
          <input
            class="form-control"
            placeholder="Name"
            name="name"
            ng-model="newMed.name"
            required
            ng-minlength="2"
            ng-class="{'is-invalid': medForm.name.$touched && medForm.name.$invalid}"
          />
          <small
            class="text-danger"
            ng-show="medForm.name.$touched && medForm.name.$invalid"
          >
            Name is required (min 2 chars)
          </small>
        </div>

        <div class="col-md-2">
          <input
            class="form-control"
            type="number"
            placeholder="Price"
            name="price"
            ng-model="newMed.price"
            required
            min="1"
            ng-class="{'is-invalid': medForm.price.$touched && medForm.price.$invalid}"
          />
          <small
            class="text-danger"
            ng-show="medForm.price.$touched && medForm.price.$invalid"
          >
            Price must be 1 or more
          </small>
        </div>

        <div class="col-md-2">
          <input
            class="form-control"
            type="number"
            placeholder="Stock"
            name="stock"
            ng-model="newMed.stock"
            required
            min="0"
            ng-class="{'is-invalid': medForm.stock.$touched && medForm.stock.$invalid}"
          />
          <small
            class="text-danger"
            ng-show="medForm.stock.$touched && medForm.stock.$invalid"
          >
            Stock must be 0 or more
          </small>
        </div>

        <div class="col-md-3">
          <input
            class="form-control"
            type="date"
            name="expiry"
            ng-model="newMed.expiry_date"
            required
            ng-class="{'is-invalid': medForm.expiry.$touched && medForm.expiry.$invalid}"
          />
          <small
            class="text-danger"
            ng-show="medForm.expiry.$touched && medForm.expiry.$invalid"
          >
            Expiry date is required
          </small>
        </div>

        <div class="col-md-1 d-grid">
          <button
            type="button"
            class="btn btn-primary"
            ng-click="addMed(medForm)"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Expiry Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="m in medicines">
        <td>{{ m.name }}</td>
        <td>{{ m.price }}</td>

        <td style="max-width: 140px">
          <input
            type="number"
            class="form-control form-control-sm"
            ng-model="m.stock"
            ng-focus="m._oldStock = m.stock"
            ng-blur="updateStock(m)"
          />
        </td>

        <td>{{ m.expiry_date }}</td>

        <td>
          <button
            class="btn btn-sm btn-outline-danger"
            ng-click="deleteMed(m.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
